.atRestroom {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  height: 80px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 8px;
  box-shadow: 5px 5px 16px 3px rgba(0, 0, 0, 0.18);
}

.atRestroomName {
  font-family: sans-serif;
  color: gray;
  font-weight: bold;
}

.time-stamp {
  color: red;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 40px;
}

.btn-green {
  background-color: green;
  width: 80px;
  margin-top: 6px;
  padding: 3px;
  float: right;
}
